:root {
    --main-red: #e56262;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-red);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container {
    position: relative;
    width: 100px;
    height: 100px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

#circle1 {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    animation: circle1 3s infinite alternate;
}

#circle2 {
    width: 70px;
    height: 70px;
    margin: 15px;
    animation: circle2 3s infinite alternate;
}

#circle3 {
    width: 30px;
    height: 30px;
    margin: 20px;
    animation: circle3 3s infinite alternate;
}

@keyframes circle1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.5);
    }
}

@keyframes circle2 {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.5);
    }
}

@keyframes circle3 {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.5);
    }
}
